<% layout('layouts/boilerplate')%>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aparatologia</title>
</head>

<body>
    <h1 class="text-center">Aparatologia</h1>
    <div class="container text-center">
        <img src="https://www.banares.com.ar/medicina-estetica/uploads/tratamientos/velashape-ii-20.jpg"
            class="img-fluid img-thumbnail" alt="">
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Vela body</h3>
                <p class="text-center">VelaBody es un tratamiento no invasivo para mejorar el contorno corporal y
                    reducir la celulitis. VelaBody permite
                    alcanzar con seguridad un cuerpo tonificado, contorneado y bien formado en 3 sesiones de
                    tratamiento. VelaBody
                    proporciona excelentes resultados sin tiempo de inactividad o molestias.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Criolipólisis</h3>
                <p class="text-center">La Criolipolisis es un tratamiento dermatológico no invasivo, cuyo objetivo es
                    destruir las células grasas (adipositos)
                    bajando su temperatura para que se descompongan y sean eliminadas, sin dañar el resto de las células
                    de la piel. La
                    temperaturas utilizadas son por debajo los cero grados.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Body up</h3>
                <p class="text-center">Body Up es un tratamiento revolucionario, que consiste en la generaración de
                    ondas de pulso electromagnético
                    indoloro de alta frecuencia, mediante la cual se realiza una estimulación neuromuscular que genera
                    el levantamiento y
                    reafirmación de glúteos, muslos, abdomen, mamas, tríceps, bíceps, cuadriceps, y cualquier otro
                    segmento perisférico.
                </p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Radiofrecuencia</h3>
                <p class="text-center">La radiofrecuencia es un tratamiento utilizado para combatir la flacidez del
                    rostro o del cuerpo, siendo muy
                    eficaz para eliminar arrugas, lineas de expresión e inclusive grasa localizada y también la
                    celulitis, siendo un método
                    seguro con efectos duraderos.

                    El aparato de radiofrecuencia eleva la temperatura de la piel y del músculo aproximadamente a 41ºC
                    y esto contrae el
                    colágeno existente y aumenta la producción de más fibras de colágeno y de elastina, dándole más
                    firmeza a la piel.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Electrodos</h3>
                <p class="text-center">Es una técnica no invasiva para combatir la flacidez, disminuir la celulitis y
                    modelar el
                    contorno corporal. Funciona produciendo contracciones musculares en la zona en la que se aplica,
                    generando así un efecto de entrenamiento
                    muscular. Así, las fibras musculares adquieren fuerza y resistencia, y se queman además las reservas
                    de grasa localizadas.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Ultrasonido</h3>
                <p class="text-center">Es un método no invasivo e indoloro que rompe las células grasas mediante ondas
                    sonoras de alta frecuencia, rompen el
                    adipocito y promueven la liberación y eliminación de su contenido. Sirven para combatir la celulitis
                    más dura y la grasa localizada, las estrías, cicatrices, el acné y las varices. Además
                    mejora el drenaje linfático, ayudando a eliminar líquidos, así como la circulación sanguínea.

                    Su aplicación se centra en la zona de flancos, piernas, abdomen, glúteos y también en el rostro
                    (papada, cuello).</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Presoterapia</h3>
                <p class="text-center">La presoterapia es una técnica para lograr un drenaje linfático. Es utilizada en
                    alteraciones en el sistema circulatorio, piernas cansadas, arañitas vasculares, edemas,
                    celulitis y acumulaciones de grasa.

                    Este drenaje linfático se realiza aplicando aire al cuerpo, y para hacerlo, es necesario que la
                    persona se introduzca en
                    un traje dotado de un determinado número de cámaras que distribuyen presiones de aire a lo largo de
                    las zonas
                    del cuerpo afectadas.</p>
            </div>
        </div>
    </div>
</body>

</html>