<% layout('layouts/boilerplate')%>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dra Renee Contardi</title>
</head>

<body>
    <h1 class="text-center">Tratamientos - Dra Renee Contardi</h1>
    <div class="container text-center">
        <img src="https://scontent.fcor2-1.fna.fbcdn.net/v/t1.6435-9/p526x296/117039482_622451291714107_3670575466255910190_n.png?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGOvBkEEJRqKtzyPojosmF1KLDZ6iKuDLMosNnqIq4Ms7YrQ8U5vBDO5p-xsqxUC98&_nc_ohc=NhSUN26P_a8AX_7H13W&_nc_ht=scontent.fcor2-1.fna&oh=a9782111be71b250bae10b167fb642b2&oe=615484CA"
            class="img-fluid img-thumbnail" alt="">
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">BOTOX - (toxina en tercio superior)</h3>
                <p class="text-center">Es una proteína natural purificada que relaja los músculos faciales. Se aplica en
                    los
                    músculos de la frente, el entrecejo y las "patas de gallo" El procedimiento no es doloroso.
                    Dura de 4 a 6 meses el efecto, se aplica dos o tres veces por año.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Tratamiento del BRUXISMO (con toxina botulínica)</h3>
                <p class="text-center">La toxina es un potente relajante muscular local que actúa por un amplio periodo
                    de
                    tiempo (3 a 6 meses), relajando los músculos masticadores afectados. Alivia el dolor,
                    las molestias y adelgaza el contorno facial.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Tratamiento RADIESSE </h3>
                <p class="text-center">Son rellenos faciales de hidroxiopatita de calcio, conocidos habitualmente como
                    rellenos Radiesse. Radiesse es un relleno dérmico que corrige las arrugas, redensifica la dermis y
                    produce un efecto tensor.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Hilo de PDO monofilamento</h3>
                <p class="text-center">Hilos tensores para rostro (más finos y cortos), para arrugas pequeñas. Para
                    tensar el tercio superior del rostro y el cuello. Son monofilamentos bio-reabsorbibles, apirógenos.
                    Están compuestos de Polidioxanona (PDO), no son tóxicos, y estimulan a los fibroblastos, que
                    producen colágeno y elastina, aumentando la elasticidad y densidad de los tejidos.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Hilos de tracción rostro</h3>
                <p class="text-center">Hilos tensores para rostro (más largos y gruesos), para arrugas más grandes.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Ácido hialurónico</h3>
                <p class="text-center">Es una muy buena opción para zonas finas y delicadas como las arrugas
                    superficiales o
                    las ojeras y opciones de voluminización para pómulos o mentón.
                    Zonas a tratar: Valle lagrimal, mentón, labios, Ángulo goníaco.</p>
            </div>
        </div>
    </div>
</body>

</html>