<% layout('layouts/boilerplate')%>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamientos</title>
    <link rel="stylesheet" href="app.css">
</head>



<body>
    <h1 class="text-center">Tratamientos</h1>
    <div class="container text-center">
        <img src="https://www.banares.com.ar/medicina-estetica/uploads/tratamientos/velashape-ii-20.jpg"
            class="img-fluid img-thumbnail" alt="">
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h3 class="text-center">Tratamientos corporales</h3>
                <p class="text-center">Tratamientos para reducción de adiposidad, celulitis y lograr tensar la piel.</p>


                <div class="accordion" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Tratamiento CELULITIS por zona
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Masajes reductores, electrodos, ultrasonido,
                                radiofrecuencia, máscara, presoterapia
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Tratamiento CELULITIS CON ULTRACAVITADOR por zona
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Masajes reductores,
                                electrodos, ULTRACAVITADOR, ultrasonido, radiofrecuencia, máscara, presoterapia
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Tratamiento REDUCTOR CON ULTRACAVITADOR por zona
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Masajes reductores,
                                electrodos, ULTRACAVITADOR, ultrasonido, radiofrecuencia, máscara, presoterapia
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                Tratamiento para flacidez por zona
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Masajes reductores,
                                electrodos, ultrasonido, radiofrecuencia, máscara, presoterapia
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                Tratamiento ELECTRODOS MÁS MASAJES REDUCTORES por zona
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Masajes reductores, electrodos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <h3 class="text-center">Tratamientos faciales</h3>
                <p class="text-center">Tratamientos en la zona de rostro, cuello y escote</p>

                <div class="accordion" id="accordionFlushExample1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne1" aria-expanded="false"
                                aria-controls="flush-collapseOne1">
                                Básico
                            </button>
                        </h2>
                        <div id="flush-collapseOne1" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne1" data-bs-parent="#accordionFlushExample1">
                            <div class="accordion-body">Limpieza, exfoliación, extracción, máscara, crema, protectora
                                solar
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo1" aria-expanded="false"
                                aria-controls="flush-collapseTwo1">
                                Facial velo de colágeno
                            </button>
                        </h2>
                        <div id="flush-collapseTwo1" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo1" data-bs-parent="#accordionFlushExample1">
                            <div class="accordion-body">Limpieza, exfoliación, punta de diamante, extracción, vello
                                colageno,
                                radiofrecuencia, máscara led
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree1" aria-expanded="false"
                                aria-controls="flush-collapseThree1">
                                Facial FANGO HIDRATANTE
                            </button>
                        </h2>
                        <div id="flush-collapseThree1" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree1" data-bs-parent="#accordionFlushExample1">
                            <div class="accordion-body">Limpieza, exfoliación, punta de diamante, extracción, máscara,
                                fango hidratante, radiofrecuencia, protector solar
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour1" aria-expanded="false"
                                aria-controls="flush-collapseFour1">
                                Facial ANTI AGE
                            </button>
                        </h2>
                        <div id="flush-collapseFour1" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFour1" data-bs-parent="#accordionFlushExample1">
                            <div class="accordion-body">Limpieza, exfoliación, punta de diamante, extracción, máscara
                                ANTI AGE,
                                radiofrecuencia, protector solar.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive1" aria-expanded="false"
                                aria-controls="flush-collapseFive1">
                                Peeling Químico
                            </button>
                        </h2>
                        <div id="flush-collapseFive1" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFive1" data-bs-parent="#accordionFlushExample1">
                            <div class="accordion-body"> Tratamiento de rejuvenecimiento de la piel en el que se le
                                aplica una solución química con el fin de eliminar las capas
                                superiores dañadas. Dando lugar a capas de piel mas suaves y jóvenes.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix1" aria-expanded="false"
                                aria-controls="flush-collapseSix1">
                                Tratamiento de OJERAS - ACNÉ - MANCHAS DE PIEL
                            </button>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="text-center">Osteopatía</h3>
            <div class="col-md-6 col-sm-6">

                <img src="https://scontent.fcor2-2.fna.fbcdn.net/v/t1.6435-9/131890422_163968158804175_771707942596921995_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeFKX7MdR_-qycAkLWecGI578rwOEzFL0e7yvA4TMUvR7j4jL7VYJXr4BuO4XdK8jwk&_nc_ohc=nYPNSpGrzG4AX9U6SK4&_nc_ht=scontent.fcor2-2.fna&oh=344ad4d90193030fda3a8a8813ae0b6d&oe=6157BAFE"
                    alt="" class="img-fluid" style="border-radius:30%">
            </div>
            <div class="col-md-6 col-sm-6">
                <p>Método de diagnóstico y tratamiento. Consiste en la aplicación de técnicas manuales dirigidas a
                    aliviar el dolor y
                    restaurar las funciones del organismo recuperando el bienestar y la salud del individuo a nivel
                    global.</p>
                <h5>Tipos de Osteopatía</h5>
                <p>♾️ Estructural.
                    Está basada en el concepto del cuerpo como unidad, todas las estructuras deben estar en conexión y
                    alineadas para
                    mantener el cuerpo sano y en equilibrio.</p>

                <p> ♾️ Visceral.
                    Se centra en favorecer la movilidad y funcionalidad de las vísceras y los órganos vitales. Se trata
                    de estimular las
                    zonas afectadas y rehabilitarles su movilidad fisiológica primaria.</p>

                <p> ♾️ Craneal.
                    Favorece la movilidad del líquido cefaloraquídeo. El tratamiento de esta técnica consiste en que el
                    osteópata por medio
                    del tacto, puede percibir las alteraciones en el ritmo de fluctuación del líquido y realizar las
                    correcciones oportunas
                    para restaurar el ritmo regular.</p>

            </div>
        </div>
    </div>

</body>

</html>